<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>


<% include ../partials/nav.ejs %>

<h2><%=username%>'s Profile </h2>


<div class="profilePage">

<div class="eventsColumn">
<h1>Hosted Events</h1>
<ul>
  <% for (let i = 0; i < hostedEvents.length; i++){%>
       <li><a href="/events/<%=hostedEvents[i].id%>"><%=hostedEvents[i].name%></a></li>
  <%}%>
</ul>


<h1>Attended Events</h1>
<% for (let i = 0; i < attendedEvents.length; i++){%>
  <li><a href="/events/<%=attendedEvents[i].id%>"><%=attendedEvents[i].name%></a></li>
<%}%>
</div>

<div class="infoColumn">

  <% include ../partials/auth/edit.ejs %>
<a class="links" href="/events/new">Add New Event</a>

</div>

</body>
</html>
