<section class="partials">

<form class="forms" action="/user/<%=user._id%>?_method=PUT" method="POST">
Username:<br>
<input type="text" name="username" value="<%=user.username%>"><br>
Password:<br>
<input type="text" name="password" value="<%=user.password%>"><br>
Email:<br>
<input type="email" name="emailAddress" value="<%=user.emailAddress%>"><br>
First Name:<br>
<input type="text" name="firstName" value="<%=user.firstName%>"><br>
Last Name:<br>
<input type="text" name="lastName" value="<%=user.lastName%>"><br>
Img URL:<br>
<input type="url" name="image" value="<%=user.image%>"><br>
Organization:<br>
<input type="organization" name="organization" value="<%=user.organization%>"/><br>
<br>
<input class="buttons" type="submit" value="Update">

</form>

</section>
