  <section class="partials">
  <form class="forms" action="/events/<%=event._id%>?_method=PUT" method="POST">
          <input type="text" name="name" value="<%=event.name%>"/><br/>
          <input type="text" name="host" value="<%=event.host%>"/><br/>
          <input type="date" name="date" value="<%=event.date%>"  /><br/>
          <input type='text' name="time" value="<%=event.time%>"/><br/>
          <input type='text' name="location" value="<%=event.location%>"/><br/>
          <input type='text' name="type" value="'<%=event.type%>'"/><br/>
          <input type='text' name="about" value="<%=event.about%>"/><br/>
          <button class="buttons" type="submit">Update Event</button>
        </form>
  </section>
