<section class="partials">
  <ul>
    <li>Name:
      <%=event.name%>
    </li><br/>
    <li>Host:
      <%=event.host%>
    </li><br/>
    <li>Date:
      <%=event.date%>
    </li><br/>
    <li>Time:
      <%=event.time%>
    </li><br/>
    <li>Location:
      <%=event.location%>
    </li><br/>
    <li>Type:
      <%=event.type%>
    </li><br/>
    <li>About Event:
      <%=event.about%><br/>
  </ul>
  <a href="/events/<%=event._id%>/edit">Edit</a>
  <form class="forms" action="/events/<%=event._id%>?_method=DELETE" method="POST">
    <input class="buttons" type="submit" value="Delete Event" />
  </form>
</section>
